body {
  background-image: url('contact_page_background.jpg');
  background-position: right-top;
  background-attachment: fixed;
}

.Our_Info{
  padding-top: 60px;
  padding-bottom: 100px;
  border-radius: 20px;
}

.CONTACT_US {
  /* Alignment */
  margin: auto;
  width: 50%;
  padding:30px;

  /* Text Properties */
  color: black;
  text-align: center;
  font-family: Merriweather;
  font-size: 40px;
}

.CONTACT_DETAILS {
  /* text properties */
  color: #383e47;
  text-align: center;
  word-wrap: normal;
  font-size: 20px;
  font-family: Merriweather;

  /* Alignment */
  margin: auto;
  width: 50%;
  align-self: center;
  padding-bottom: 50px;

}

.email_phone {
  margin: auto;
  width: 50%;
  align-self: center;

  color: brown;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
}

.Contact_Form{
  /* Alignment */
  margin: auto;
  width: 50%;
  padding:30px;

  /* Text Properties */
  text-align: center;
  font-family: Merriweather;
  font-size: 30px;
}

.Form{
  /* Alignment */
  margin: auto;
  text-align: center;

  /* Text Properties */
  font-family: Merriweather;
  font-size: 15px;
}


#SubmitButton {
  font-size: 18px;    
}

#userInput{
  color: #383e47;
  border-radius: 25px;
  border: 1px solid black;
  padding: 20px;     
}

#contact_box{
  border-radius: 5px;
  border: 1px solid black;
}