/* Contact CSS */
font-family: 'Merriweather', serif;

.Our_Info{
  border-radius: 20px;
  background-color: #c7f8ff;
}

.CONTACT_US {
  /* Alignment */
  margin: auto;
  width: 50%;
  padding:30px;

  /* Text Properties */
  color: #0094e9;
  text-align: center;
  font-family: Merriweather;
  font-size: 40px;
}

.CONTACT_DETAILS {
  /* text properties */
  color: #383e47;
  text-align: center;
  word-wrap: normal;
  font-size: 20px;
  font-family: Merriweather;

  /* Alignment */
  margin: auto;
  width: 50%;
  align-self: center;
  padding-bottom: 50px;

}

.Contact_text{
  background-color: lightblue;
}

.email_phone {
  margin: auto;
  width: 50%;
  align-self: center;

  color: red;
  text-align: center;
  font-family: Merriweather;
  font-size: 20px;
}

.Contact_Form{
  /* Alignment */
  margin: auto;
  width: 50%;
  padding:30px;

  /* Text Properties */
  color: #0094e9;
  text-align: center;
  font-family: Merriweather;
  font-size: 30px;
}

.Form{
  /* Alignment */
  margin: auto;
  text-align: center;

  /* Text Properties */
  font-family: Merriweather;
  font-size: 15px;
}


