html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav {
	height: 60px;
	display: flex;
	flex-flow: row-reverse wrap;
}

.nav_link, .nav_div {
	width: 25%;
	background-color:#0094E9;
	font-size: 24px;
}

.nav_link {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
}

.nav_link:hover {
	text-decoration: underline;
}

.nav_div * {
	font-size: 18px;
	text-align: center;
	display: none;
}

.nav a * {
	font-family: 'Merriweather', serif;
	color: white;
	text-transform: capitalize;
}









