html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav {
	height: 60px;
	display: flex;
	flex-flow: row-reverse wrap;
	position: fixed;
	width: 100%;
	box-shadow: 0px 0px 20px black;
	border-width: 0 0 2px 0;
	border-color: #cf0000;
	border-style: solid;
}

.nav_link, .nav_div {
	width: 25%;
	background-color: white;
	font-size: 24px;
}

.nav_link {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
}

.nav_link:hover {
	text-decoration: underline;
}

.nav_div {
	font-size: 18px;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	border-radius: 0 0 0 10px;
	display: none;
}

.nav_div a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
	color: black;
	text-transform: uppercase;
	margin: 10px;
}

.nav a * {
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
	color: black;
	text-transform: uppercase;
}

.nav_partners:hover .nav_div {
	display: flex;
}









